<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbsun.mapper.ProCusContractMapper">
	<!--测试-->

	<sql id="Base_Column_List" >
        t.XYCCTT001, 
        t.XYCA001, 
        t.XYC001, 
        t.XYCCTT002, 
        t.XYCCTT003, 
        t.XYCCTT004_TP, 
        t.XYCCTT005, 
        t.XYCCTT006, 
        t.XYCCTT007, 
        t.XYCCTT008, 
        t.XYCCTT009, 
        t.XYCCTT010_TP, 
        t.XYCCTT011, 
        t.XYCCTT012, 
        t.XYCCTT013, 
        t.XYCCTT014, 
        t.XYCCTT015, 
        t.XYCCTT016, 
        t.XYCCTT017, 
        t.XYCCTT018_TM, 
        t.XYCCTT019_TM, 
        t.XYCCTT020, 
        t.XYCCTT021, 
        t.XYCCTT022, 
        t.XYCCTT023, 
        t.XYCCTT024, 
        t.XYCCTT025, 
        t.XYCCTT026, 
        t.XYCCTT027, 
        t.XYCCTT028, 
        t.XYCCTT029_TP, 
        t.XYCCTT030, 
        t.XYCCTT031, 
        t.XYCCTT032_TM, 
        t.XYCCTT033_TM, 
        t.XYCCTT034_TM, 
        t.XYCCTT035, 
        t.XYCCTT036, 
        t.XYCCTT037, 
        t.XYCCTT038, 
        t.XYCCTT039_TP, 
        t.XYCCTT040, 
        t.XYCCTT041, 
        t.XYCCTT042, 
        t.XYCCTT043
    </sql>

    <select id="getPageProCusContractList" parameterType="page" resultType="pd" useCache="false">
        SELECT
            <include refid="Base_Column_List" />
        FROM xyc_contract t
        where 1 = 1

    </select>


</mapper>