<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbsun.mapper.system.OpLogMapper">

    <insert id="insertLog">
        insert into
        sys_optional_log
        (logtype, logname, target, message, createtime) values
        (#{logtype},#{logname},#{target},#{message},now())
    </insert>

</mapper>